body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    background-image: url(ressources/image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

#box {
    width: 300px;
    height: 400px;
    background-color: #000;
    color: antiquewhite;
    position: relative;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #333;
    padding: 60px 20px;
}
#box .icone {
    width: 100px;
    height: 100px;
    background-color: #f39c12;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 100px;
    top: -50px;
}
#box .icone i {
    font-size: 55px;
    color: #f1c40f;

}
#box h1 {
    text-align: center;
    color: #f1c40f;
    font-size: 35px;
    font-weight: 300;
    letter-spacing: 2px;
}
#box label {
    display: block;
    font-weight: 600;
    font-size: 19px;
}
#box input {
    margin-bottom: 20px;
    width: 100%;
}
#box input:not([type="submit"]){
    background: none;
    border: none;
    border-bottom: 1px solid #f1c40f;
    padding: 15px 0;
    outline: none;
    color: antiquewhite;
    font-size: 17px;
}
#box input[type="submit"] {
    border: none;
    outline: none;
    padding: 15px;
    background-color: #f39c12;
    color: white;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 30px;
    transition: 0.7s;
}
#box input[type="submit"]:hover {
    background-color: #f1c40f;
    transition: 0.7s;
}
#box a {
    text-decoration: none;
    font-size: 13px;
    color: #aaa;
    transition: 0.7s;
}
#box a:hover {
    color: #ccc;
    transition: 0.7s;
}